body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}
.container {
  background: white;
  padding: 1rem;
  border-radius: 1.7rem;
  width: 320px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

img {
  width: 320px;
  border-radius: 1rem;
}
.text {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  color: hsl(218, 44%, 22%);
}
.para {
  text-align: center;
  color: hsl(220, 15%, 55%);
}
